/*****************************
* NAVIGATION
*****************************/

#navigation-container {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rubik;
    font-weight: 400;
    font-size: 1.2rem;
    height: 15%;
    transition: 0.3s;
    z-index: 1000;
}

#navigation-container.scrolled {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: Rubik;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: white;
    height: 15%;
    transition: 0.3s;
    z-index: 1000;
}

#navigation-bar {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

#navigation-container a {
    padding-left: 20px;
    padding-right: 20px;
}

#trademark {
    font-weight: 600;
    font-size: 1.8rem;
}