/*****************************
* NAVIGATION
*****************************/

#navigation-container {
    position: fixed;
    width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-weight: 200;
    transition: 0.3s;
    z-index: 1000;
    padding: 2vw;
}

#navigation-container.scrolled {
    background-color: white;
    position: fixed;
    width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-weight: 200;
    transition: 0.3s;
    z-index: 1000;
    padding: 2vw;
}

#navigation-bar {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

#navigation-links {
    display: flex;
    align-items: center;
}

#navigation-container a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
}

#trademark {
    font-weight: 800;
    font-size: 1.8rem;
}

#expand-navbar {
    display: none;
}

@media screen and (max-width: 600px) {
    #navigation-links {
        display: none;
    }
    #expand-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #minimal-navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #navigation-container.responsive-display {
        background-color: white;
        position: fixed;
        width: 96vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Raleway;
        font-weight: 200;
        font-size: 1.1rem;
        z-index: 1000;
        padding: 2vw;
    }
    #navigation-container.responsive-display #navigation-bar {
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
    #navigation-container.responsive-display #minimal-navbar {
        padding-bottom: 1.5vh;
        border-bottom: 2px solid black;
    }
    #navigation-container.responsive-display #navigation-links {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        height: 100vh;
    }
    #navigation-container.responsive-display #navigation-links a {
        margin: 5px 0px 20px;
        padding: 2px;
        font-size: 2rem;
        font-weight: 500;
        border-bottom: 0.5px solid grey;
    }
}