/*****************************
* LANDING PAGE - INFO
*****************************/

#particles-js {
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: -1000;
}

#landing {
    width: 80vw;
    margin: 0 auto;
    height: 100vh;
    z-index: 1000;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 90%;
}

#name {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: Raleway;
}

#large-divider {
    height: 0.5vh;
    background-color: #235493;
    width: 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#intro-description {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2;
    font-family: Nunito;
    font-weight: 400;
    color: #212121;
    color: black;
}

#more-info {
    font-weight: bold;
    color: #235493;
    font-style: italic;
    transition: 0.25s ease-in-out;
}

#more-info:hover {
    color: white;
    background-color: #235493;
}

#social-icons-content a {
    color: #235493;
}

#waving {
    height: 8%;
    width: 8%;
    transform-origin: 70% 70%;
    animation: rotation 0.4s infinite alternate backwards;
    animation-timing-function: ease-in-out;
    margin-left: -2%;
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(80deg);
    }
}

.social-icons ul {
    padding: 0;
}

.social-icons ul li {
    list-style-type: none;
    display: inline-block;
}

.social-icons ul li a {
    text-decoration: none;
}

.social-icons ul li:not(:nth-child(1)):not(:nth-child(4)) {
    margin-left: 20px;
    margin-right: 20px;
}

.social-icons ul li:nth-child(1) {
    margin-right: 20px;
}

.social-icons ul li:nth-child(4) {
    margin-left: 20px;
}

.social-icons {
    font-size: 1.5rem;
}

#spacer {
    width: 100vw;
    height: 3vh;
    background-color: #F8F9F9;
}