/*****************************
* GENERAL
*****************************/ 

*{ 
  max-width: 100%; 
}

p{ 
  margin: 0; 
}

body{
  width: 80vw; 
  margin: 0 auto; 
  font-family: Open Sans, sans-serif; 
  background-color:#4C5364	
}

#particles-js{ 
  margin: 0; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  position: absolute; 
  display: block; 
  z-index: -1000;
}

#landing{ 
  height: 100vh;
  width: 100%; 
  z-index: 1000;
  overflow: hidden;
}

/*****************************
* NAVIGATION
*****************************/ 

.navigation-container{ 
  margin-top: 25px; 
  display: flex; 
  justify-content: space-between;
}

#navigation-bar ul li{
  list-style-type: none;
  display: inline-block; 
  margin: 0px 10px;
}

#navigation-bar ul li a{
  text-decoration: none;
  color: white;
}

#navigation-bar ul li a:hover{
  text-decoration: none;
  color: #C26868; 
}

/*****************************
* LANDING PAGE - INFO
*****************************/ 

#content { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 80%; 
  font-family: Lato, sans-serif; 
}

#name{ 
  font-size: 7em; 
  font-weight: bold; 
  color: white; 
}

#intro-description{ 
  font-size: 1.5em; 
  max-width: 800px; 
  line-height: 1.8; 
  color: white; 
}

#more-info{ 
  font-weight: bold;
  /* color: #d6c79f; */
  color: #C26868;
  font-style: italic;
  transition: 0.25s ease-in-out; 
}

#more-info:hover{ 
  color: white; 
  border-bottom: 2px solid white; 
}

/*****************************
* FOOTER
*****************************/ 

.footer{
  height: 200px; 
  background-color: blue; 
}