/*****************************
* GENERAL
*****************************/ 
p{ 
  margin: 0; 
}

body{
  width: 80vw; 
  margin: 0 auto; 
  font-family: Open Sans, sans-serif; 
  background-color:#4C5364; 
  overflow-x: hidden; 
}

#particles-js{ 
  margin: 0; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100%; 
  position: absolute; 
  display: block; 
  z-index: -1000;
}

#landing{ 
  height: 100vh;
  width: 100%; 
  z-index: 1000;
  overflow: hidden;
}

/*****************************
* NAVIGATION
*****************************/ 

.navigation-container{ 
  margin-top: 25px; 
  display: flex; 
  justify-content: space-between;
}

#navigation-bar ul li{
  list-style-type: none;
  display: inline-block; 
  margin: 0px 10px;
}

#navigation-bar ul li a{
  text-decoration: none;
  color: white;
}

#navigation-bar ul li a:hover{
  text-decoration: none;
  color: #C26868; 
}

/*****************************
* LANDING PAGE - INFO
*****************************/ 

#content { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 80%; 
  font-family: Lato, sans-serif; 
}

#name{ 
  font-size: 7em; 
  font-weight: bold; 
  color: white; 
}

#intro-description{ 
  font-size: 1.5em; 
  max-width: 800px; 
  line-height: 1.8; 
  color: white; 
}

#more-info{ 
  font-weight: bold;
  /* color: #d6c79f; */
  color: #C26868;
  font-style: italic;
  transition: 0.25s ease-in-out; 
}

#more-info:hover{ 
  color: white; 
  border-bottom: 2px solid white; 
}

/*****************************
* FOOTER
*****************************/ 

.footer{ 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 250px; 
  width: 100vw;
  background-color: #C26868; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-content: center; 
  align-items: center; 
  color: white; 
}

.footer-content{
  width: 80vw; 
  display: flex; 
  flex-direction: column; 
  justify-content: center ;
  align-items: flex-start; 
}

.social-icons{ 
  font-size: 1.5em; 
}

.social-icons a{ 
  color: inherit;  
}

.social-icons ul{ 
  padding: 0; 
}

.social-icons ul li{ 
  list-style-type: none;
  display: inline-block; 
  
}

.social-icons ul li a{ 
  text-decoration: none; 
}

.social-icons ul li:not(:nth-child(1)):not(:nth-child(4)){ 
  margin-left: 20px; 
  margin-right: 20px; 
}

.social-icons ul li:nth-child(1){ 
  margin-right: 20px; 
}


.social-icons ul li:nth-child(4){ 
  margin-left: 20px; 
}

#outro-title{
  font-weight: bold; 
  margin-top: 50px; 
  margin-bottom: 20px; 
  display: inline-block; 
  font-size: 2em; 
}

#outro-description{ 
    line-height: 1.5em; 
    max-width: 500px;
}

#copyright{ 
  margin-bottom: 10px; 
}
